.chart .chartjs {
  height: 7rem;
}

.chart .chart-title {
  color: #515151;
  position: absolute;
  right: 0.8rem;
  font-weight: bold;
}

.chart .axis {
  position: absolute;
  width: 5rem;
  background: linear-gradient(90deg, #F2F0ECFF 15%, #F2F0EC00 45%);
}

.chart .main {
  margin-left: -0.5rem;
}
