.phone-container {
  height: 100%;
  width: 100%;

  /* center the phone */
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone {
  color: #F2F0EC;
  background-color: #272727;

  /* hard-coded phone size, screen ratio is 16:9 */
  max-width: 506.25px;
  max-height: 900px;
  /* if screen is smaller than above, then fit to screen */
  width: 100%;
  height: 100%;

  /* make the screen scrollable instead of overflowing */
  overflow-y: scroll;

  /* make absolute-positioned elements anchor to this */
  position: relative;
}