.card {
  color: #2D2D2D;
  background-color: #F2F0EC;
  border-radius: 0.4rem;

  padding: 0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;

  margin-bottom: 0.7rem;

  min-height: 5rem;
}

.card h2 {
  color: #515151;
  font-weight: bold;
}

.card.dark {
  background-color: #000305;
}

.card.dark h2 {
  color: #F2F0ECDD;
}

.meta-info {
  display: flex;
  justify-content: left;
  align-items: center;

  margin-bottom: 1em;

  color: #747369;
  font-size: 0.9em;
  font-weight: bold;
}

.meta-info .icon {
  padding-right: 0.5rem;
}
